In [1]:
import boto3
import pandas as pd
from io import StringIO,BytesIO
from datetime import datetime,timedelta

# Adapter Layer

In [2]:
def read_csv_to_df(bucket,key,decoding='utf-8',sep=','):
    csv_obj=bucket.Object(key=key).get().get('Body').read().decode(decoding)
    data=StringIO(csv_obj)
    df=pd.read_csv(data,delimiter=sep)
    return df

def write_df_to_s3(bucket,df,key):
    out_buffer=BytesIO()
    df.to_parquet(out_buffer,index=False)
    bucket.put_object(Body=out_buffer.getvalue(),Key=key)
    return True

def write_df_to_s3_csv(bucket,df,key):
    out_buffer=StringIO()
    df.to_csv(out_buffer,index=False)
    bucket.put_object(Body=out_buffer.getvalue(),Key=key)
    return True

def list_files_in_prefix(bucket,prefix):
    files = [obj.key for obj in bucket.objects.filter(Prefix=prefix)]
    return files

# Application Layer

In [3]:
def extract(bucket,date_list):
    files = [key for date in date_list for key in list_files_in_prefix(bucket,date)]
    df=pd.concat([read_csv_to_df(bucket,obj) for obj in files],ignore_index=True)
    return df

def transform_report1(df,columns,arg_date):
    df=df.loc[:,columns]
    df.dropna(inplace=True)
    df['opening_price']=df.sort_values(by=['Time']).groupby(['ISIN','Date'])['StartPrice'].transform('first')
    df['closing_price']=df.sort_values(by=['Time']).groupby(['ISIN','Date'])['StartPrice'].transform('last')
    df=df.groupby(['ISIN','Date'],as_index=False).agg(opening_price_eur=('opening_price','min'),
                                                         closing_price_eur=('closing_price','min'),
                                                         minimum_price_eur=('MinPrice','min'),
                                                         maximum_price_eur=('MaxPrice','max'),
                                                         daily_traded_volumne=('TradedVolume','sum'))
    df['prev_closing_price']=df.sort_values(by=['Date']).groupby(['ISIN'])['closing_price_eur'].shift(1)
    df['change_prev_closing_%']=(df['closing_price_eur']-df['prev_closing_price'])/df['prev_closing_price']*100
    df.drop(columns=['prev_closing_price'],inplace=True)
    df=df.round(decimals=2)
    df=df[df.Date>=arg_date]
    return df

def load(bucket,df,trg_key,trg_format,meta_key,extract_date_list):
    key=trg_key+datetime.today().strftime('%Y%m%d_%H%M%S')+trg_format
    write_df_to_s3(bucket,df,key)
    # once the data is loaded update the meta file
    update_meta_file(bucket,meta_key,extract_date_list)
    return True

def etl_report1(src_bucket,trg_bucket,date_list,columns,arg_date,trg_key,trg_format,meta_key):
    df=extract(src_bucket,date_list)
    df=transform_report1(df,columns,arg_date)
    """
    date_list: it contains the list from the first date we want to extract,minus one from first date
    arg_date: first date we want to extract
    """
    extract_date_list = [date for date in date_list if date>=arg_date]
    load(trg_bucket,df,trg_key,trg_format,meta_key,extract_date_list)
    return True

# Application Layer - not core

In [4]:
# this fuction gives unprocessed dates
def return_date_list(bucket,arg_date,src_format,meta_key):
    min_date=datetime.strptime(arg_date,src_format).date()-timedelta(days=1)
    today=datetime.today().date()
    # try block will run if we have metafile
    try:
        df_meta=read_csv_to_df(bucket,meta_key)
        # converting string to dates
        dates = [(min_date+timedelta(days=x)) for x in range(0,(today-min_date).days+1)]
        src_dates=set(pd.to_datetime(df_meta['source_date']).dt.date)
        # checking if all the files have been processed or not
        date_missing=set(dates[1:])-src_dates
        if date_missing: # if all dates data has been processed then 
            min_date=min(set(return_date_list[1:])-src_dates)-timedelta(days=1)
            # converting dates to strings
            return_dates=[date.strftime(src_format) for date in return_date_list if date>=min_date]
            return_min_date=(min_date+timedelta(days=1)).strftime(src_format)
        else:
            return_dates=[]
            return_min_date=datetime(2200,1,1).date()
    except:
        # if there is no meta-data then return all dates since min_date untill today
        return_dates = [(min_date+timedelta(days=x)).strftime(src_format) for x in range(0,(today-min_date).days+1)]
        # if there job is runing for first time and there is no process date then arg_date will be min date
        return_min_date=arg_date
    return return_min_date,return_dates

def update_meta_file(bucket,meta_key,extract_date_list):
    """
    extract_date_list: list of dates that need to be update.
    """
    df_new=pd.DataFrame(columns=['source_date','datetime_of_processing'])
    df_new['source_date']=extract_date_list
    df_new['datetime_of_processing']=datetime.today().strftime('%Y-%m-%d')
    # reading the existing metafile
    df_old=read_csv_to_df(bucket,meta_key)
    # updated dataframe
    df_all=pd.concat([df_old,df_new])
    write_df_to_s3_csv(bucket,df_all,meta_key)

In [5]:
# main fuction entrypoint
def main():
    trg_key='xetra_daily_report_'
    trg_format='.parquet'
    arg_date='2022-01-25'
    src_format='%Y-%m-%d'
    src_bucket='deutsche-boerse-xetra-pds'
    trg_bucket='xetra-bucket-proj'
    columns=['ISIN','Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice','EndPrice', 'TradedVolume']
    meta_key='meta_file.csv'
    
    # init
    s3 = boto3.resource('s3',aws_access_key_id="AKIAR7554OTXIHAAMCD6",
                         aws_secret_access_key="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")
    bucket_src = s3.Bucket(src_bucket)
    bucket_trg = s3.Bucket(trg_bucket)
    
    # run application
    extract_date,date_list = return_date_list(bucket_trg ,arg_date ,src_format,meta_key)
    etl_report1(bucket_src ,bucket_trg,date_list ,columns ,extract_date ,trg_key ,trg_format, meta_key)



main()

# Reading the uploaded file

In [2]:
import boto3
trg_bucket='xetra-bucket-proj'
s3 = boto3.resource('s3',aws_access_key_id="AKIAR7554OTXIHAAMCD6",
                         aws_secret_access_key="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")
bucket_trg = s3.Bucket(trg_bucket)
for obj in bucket_trg.objects.all():
    print(obj.key)

meta/
meta/meta_file.csv
meta/report1/
meta/report1/xetra_report1_meta_file.csv
report1/

In [7]:
prq_obj=bucket_trg.Object(key="xetra_daily_report_20220125_143956.parquet").get().get('Body').read()
data=BytesIO(prq_obj)
df_report=pd.read_parquet(data)

df_report.head()

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volumne,change_prev_closing_%
0,AT000000STR1,2022-01-25,36.05,35.85,35.85,36.05,420,1.85
1,AT00000FACC2,2022-01-25,7.26,7.26,7.26,7.26,360,-0.68
2,AT0000606306,2022-01-25,23.30,23.72,23.30,23.72,1776,2.68
3,AT0000644505,2022-01-25,107.40,108.00,107.20,108.00,80,-0.18
4,AT0000652011,2022-01-25,41.31,41.49,41.13,41.49,1867,2.14